@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

//reset

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}   


ul {
    list-style: none;
}

// VARIABLES 

$font: "Poppins", 'sans-serif';
$dark: #292929;
$light: #fff;
$green: #8DF50B;
