@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
// VARIABLES 

$font: "Poppins", 'sans-serif';
$dark: #292929;
$light: #fff;
$green: #8DF50B;
//reset

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}   

body {
    font-family: $font;
}


ul {
    list-style: none;
}

img {
    margin: 0;
    width: 100%;
}

h1 {
    margin: 0;
}

a {
    text-decoration: none;
}