.main {
    position: relative;
    height:77vh;
    background-color: $dark;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:left;

    &__title {
        color: $light;
        font-size: 1.2rem;
        span {
            display: block;
            color: $green;
        }
        @media (min-width: 768px) {
            font-size: 1.5rem;
        }
    }
    &__flame {
        margin-top: 4.5rem;
        width: 60px;
        height: 60px;
        position: relative;
        animation: move 500ms 200ms ease-in infinite alternate;
        &__single {
            position: absolute;
            bottom: 0;
            border-radius: 50% 0 50% 50%;
            transform: rotate(-45deg) scale(1.5, 1.5);
        }
        @media (min-width: 768px) {
            margin: 0;
        }
    }
    &__svg {
        position: absolute;
        top:100%;
        left: 0%;
        margin: -1px;
        width: 100%;
        height: 250px;
        z-index: 999;
   
    }
    @media (min-width: 768px) {
        flex-direction: row;
        position: relative;
        justify-content: space-around;
    }
}

.red {
    left: 5px;
    width: 50px;
    height: 50px;
    background: red;
    box-shadow: 0px 0px 35px 4px red;
}

.orange {
    left: 12px;
    width: 35px;
    height: 35px;
    background: orange;
    box-shadow: 0px 0px 9px 4px orange;
}




.social {
    position: absolute;
    bottom: 0;
    right: 1.5rem;
    cursor: pointer;
    &__icon {
        margin: .5rem auto;
    }
    @media (min-width: 768px) {
        bottom: 0;
    }
}

@keyframes move {
    0% {
        transform: rotate(-4deg);
    }
    50% {
        transform: rotate(-1deg);
        transform: scaleY(1.006);
    } 
    100% {
        transform: rotate(4deg);
    }
}


