.present {
    min-height: 130vh;
    background-color:$light;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    &__title {
        font-weight:300;
        text-align: center;
        margin-top: 5rem;
    }
    &__svg {
        position: absolute;
        bottom: 0;
        left: 0%;
        margin: -1px;
        width: 100%;
        height: 250px;
        z-index: 999;
        transform: rotate(180deg);
    }
}

@mixin background {
    font-weight: 500;
    margin-left: 2rem;
    position: relative;
    z-index: 99;
}

@mixin backgroundBefore {
    content: "";
    position: absolute;
    height: 100%;
    z-index: -1;
    background-color: $yellow;
}
.tech {
     margin-top: 2rem;
     position: relative;

     &__title {
        @include background();
        margin-top: 5rem;
         &::before {
            @include backgroundBefore();
            left: 0;
            width: 68px;
         }
     }
     &__title--project {
         width: fit-content;
         margin-top: 5rem;
         @include background();
         &::before {
             @include backgroundBefore();
             right: 0;
             width: 100px;
         }
     }
}



// skill

.list {
    display: grid;
    grid-template-columns: repeat(2,1fr );
    grid-gap: 1rem;
    width: fit-content;
    flex-direction: column;
    margin: 2rem auto 0 auto;
    &__item {
        text-align: center;
        a {
            color: $orange;
        }
        &__img {
            margin-top: .2rem;
            height: 50px;
            @media (min-width:768px) {
                width: 100%; 
                height: 70px;

            }
        }
    }
    @media(min-width:768px) {
        grid-gap: 1.5rem;
        grid-template-columns: repeat(3,1fr );
        grid-template-rows: repeat(2,1fr );
    }
}

// project

.project {
    margin-top: 4rem;
    margin-bottom: 10rem;

}

.work {
    display: grid;
    justify-content: flex-start;
    align-items: center;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr ));
    align-items: center;
    width: 80%;
    grid-gap: 5rem;
    margin: 4rem auto 6rem auto;    
    &__item {
        justify-content: center;
        img {
            width: 100%;

        }

    }
    @media(min-width:768px) {
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(3,1fr );
        grid-template-rows: repeat(2,1fr );
    }
}


.reverse {
    transform: rotate(180deg);
    background-color: $dark;
}
.custom-shape-divider-bottom-1620567558 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 156px;
    transform: rotateY(180deg);
}