.present {
    min-height: 130vh;
    background-color:$light;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    &__title {
        font-weight:300;
        text-align: center;
        margin-top: 5rem;
    }
    &__svg {
        position: absolute;
        bottom: 0;
        left: 0%;
        margin: -1px;
        width: 100%;
        height: 250px;
        z-index: 999;
        transform: rotate(180deg);
    }
}

@mixin background {
    font-weight: 500;
    margin-left: 2rem;
    position: relative;
    z-index: 99;
}

@mixin backgroundBefore {
    content: "";
    position: absolute;
    height: 100%;
    z-index: -1;
    background-color: $yellow;
}
.tech {
     margin-top: 2rem;
     position: relative;

     &__title {
        @include background();
         &::before {
            @include backgroundBefore();
            left: 0;
            width: 68px;
         }
     }
     &__title--project {
         width: fit-content;
         @include background();
         &::before {
             @include backgroundBefore();
             right: 0;
             width: 100px;
         }
     }
}

.reverse {
    transform: rotate(180deg);
    background-color: $dark ;
}
.custom-shape-divider-bottom-1620567558 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 156px;
    transform: rotateY(180deg);
}

// skill

.list {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1rem;
    flex-direction: column;
    margin: 2rem auto   ;
    &__item {
        text-align: center;
        a {
            color: $orange;
        }
        &__img {
            margin-top: .2rem;
            height: 50px;
        }
    }
}

// project

.work {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(1,1fr );
    align-items: center;
    margin: 2rem 2rem 6rem 2rem;
    &__item {
        img {
            width: 100%;
        }
    }
}