.project {
    background-color: $dark;
    color: $light;
    min-height: 100vh;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    &__svg {
        position: absolute;
        bottom: 0%;
        left: 0%;
        width: 100%;
        margin-bottom: -1px;
    }

}


.wrapper {
    width: 85%;
    margin: 4rem auto;
}


.bar {
    display: flex;
    justify-content: center;
    background-color: $light;
    padding: 1rem 2rem;
    &__item {
        margin: auto 1rem;
        a {
            color: $dark;
        }
    }
}

.active {
    background-color: $orange;
    padding: .5rem;
}
.open {
}