.project {
    background-color: $dark;
    color: $light;
    min-height: 100vh;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    
    &__work {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        overflow: hidden;
        border: 4px solid $green;
    }
    &__svg {
        position: absolute;
        bottom: 0%;
        left: 0%;
        width: 100%;
        margin-bottom: -1px;
    }

}
.wrapper {
    width: 85%;
    margin: 4rem auto;
}


.bar {
    display: flex;
    justify-content: center;
    background-color: $light;
    padding: 1rem 2rem;
    &__item {
        margin: auto 1rem;
        a {
            color: $dark;
        }
    }
}

.active {
    background-color: $green;
    padding: .5rem;
}
.open {
    background-color: $green;
    padding: 1rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    &__list {
        display: grid;
        grid-template-columns: repeat(1,1fr );
        @media (min-width:768px) {
            grid-template-columns: repeat(3,1fr );
            grid-template-rows: repeat(2,1fr );
        }
        &__item {
            img {
                width: 50%;
            }
        }
    }

}