.skills {
    height: 100vh;
    background-color: $light;
    color: $dark;
    text-align: center;
    position: relative;
    &__svg {
        position: absolute;
        bottom: 0;
        left: 0;
        margin-bottom: -1px;
    }
}

.test {
    fill: $light;
}