.skills {
    min-height: 100vh;
    background-color: $light;
    color: $dark;
    text-align: center;
    position: relative;
    &__svg {
        position: absolute;
        bottom: 0;
        left: 0;
        margin-bottom: -1px;
    }
    &__title {
        margin-top: 1rem;
    }

}

.knowledge {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    &__item {
        
        margin: 1rem auto;
            img {
                height: 80px;
                @media (min-width:768px) {
                    height: 60px;
                }
            }
            &:last-child {
                margin-bottom: 5rem;
            }
    }
    @media (min-width:768px) {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(4,200px);
        grid-template-rows: repeat(2,1fr );
    }
}

.subtitle {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: orange;
}