// .skills {
//     min-height: 100vh;
//     background-color: $light;
//     color: $orange;
//     text-align: center;
//     position: relative;
//     &__svg {
//         position: absolute;
//         bottom: 0;
//         left: 0;
//         margin-bottom: -1px;
//     }
//     &__title {
//         margin-top: 1rem;
//     }

// }

// .knowledge {
//     display: flex;
//     flex-direction: column;

//     justify-content: center;
//     align-items: center;
//     &__item {
//         align-self: center;
//         margin: 1rem auto;
//             img {
//                 height: 60px;
//                 @media (min-width:768px) {
//                     height: 60px;
//                 }
//             }
//             &:last-child {
//                 margin-bottom: 5rem;
//     @media (min-width:768px) {
//         margin-bottom: auto;
//     }
//             }
//     }
//     @media (min-width:768px) {
//         margin-top: 2rem;
//         display: grid;
//         grid-gap: 2px;
//         grid-template-columns: repeat(4,220px);
//         grid-template-rows: repeat(2,auto);
//     }
// }

// .subtitle {
//     font-weight: bold;
//     text-transform: uppercase;
//     letter-spacing: 2px;
//     color: $orange;
// }

// .title {
//     color: $green;
//     text-transform: uppercase;
//     font-weight: 500;
//     letter-spacing: 1px;
// }